*
!.git
!.gitignore
!/README.md
!/docker-compose.yml
!/docker-compose.override.yml
!/models/
!/frontend/
!/frontend/public/
!/frontend/public/**
!/frontend/src/
!/frontend/src/**/*.js
!/frontend/src/**/*.css
!/frontend/src/**/*.svg
!/frontend/.devcontainer.json
!/frontend/Dockerfile
!/frontend/package.json
!/frontend/README.md
!/frontend/yarn.lock
