*
!.git
!/frontend/
!/backend/
!.gitignore
!/docker-compose.yml
!/docker-compose.prod.yml
!/docker-compose.dev.yml
!/config/
!/config/models.dev.config
!/config/models.prod.config
!/scripts/
!/scripts/deploy.sh
!/LICENSE.md
!/README.md
